.Container {
	position: fixed;
	//top: 60px;
	z-index: 100;
	left: 0px;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	display: flex;
	flex-direction: row-reverse;
	opacity: 0;
	top: 100%;

	.Basket {
		position: absolute;
		right: -480px;
		width: 480px;
		background: #ffffff;
		padding-top: 50px;
		display: flex;
		flex-direction: column;

		&.active {
			right: 0;
			transition: all 400ms ease-in;
		}

		&.disable {
			right: -480px;
			transition: all 400ms ease-in;
		}

		h2 {
			margin: 0 0 30px 0;
			padding: 0 50px;
		}

		.items {
			padding: 0 50px;
			border-bottom: 1px solid #cccccc;
			border-top: 1px solid #cccccc;
			overflow: hidden;
			height: calc(100vh - 305px);
			flex-shrink: 0;
			overflow-y: auto;

			.item {
				display: flex;
				padding: 30px 0;
				border-top: 1px solid #cccccc;

				img {
					width: 100px;
					height: 100px;
					object-fit: cover;
					margin: 0 20px 0 0;
				}

				.content {
					display: flex;
					flex-direction: column;
					flex: 1 0 auto;

					h4 {
						margin: 0;
						max-width: 200px;
						padding: 10px 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.count {
						display: flex;
						align-items: center;
						padding: 0px 0 5px;

						span {
							min-width: 40px;
							text-align: center;
							user-select: none;
						}

						svg {
							width: 25px;
							height: 25px;
							cursor: pointer;
						}

						.iconPlus {
							fill: #43b05c;
						}

						.iconPlus:hover {
							fill: #4abf65;
						}

						.iconMinus {
							fill: #ed8a19;
						}

						.iconMinus:hover {
							fill: #faa23d;
						}
					}

					.price {
						font-size: 24px;
						line-height: 30px;
						user-select: none;
					}
				}

				.delete {
					width: 25px;
					height: 25px;
					cursor: pointer;
					align-self: center;

					svg {
						fill: #dc172d;
					}

					svg:hover {
						fill: #e59099;
					}
				}
			}

			.item:first-child {
				border-top: 0px;
			}
		}

		.Order {
			padding: 0 50px 50px 50px;
			flex-shrink: 0;
			height: 105px;
			display: flex;
			flex-direction: column;

			.total {
				display: flex;
				justify-content: space-between;
				padding: 20px 0;
				span {
					font-size: 24px;
					line-height: 24px;
				}

				span:first-child {
					font-size: 18px;
				}
			}

			.Btn {
				padding: 10px 30px;
				line-height: 20px;
				color: #ffffff;
				font-size: 16px;
				text-align: center;
				background: #8c9f3f;
				cursor: pointer;

				span {
					padding: 5px 0;
					text-transform: uppercase;
					user-select: none;
				}

				&:hover {
					color: #ffffff;
					background: #abbd62;
				}
			}
		}
	}
}
