header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	height: 60px;
	width: 100%;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  background:#000;
  color: #ffffff;	  
  > div {
    flex-grow: 1;
  }

}

.basket {
  position: relative;
  flex-grow: 0;
  justify-content: flex-end;
  padding: 0 10px;
  margin-right: 30px;
  cursor: pointer;

  span {
    position: absolute;
    top: 0;
    left: 32px;
    background-color: #E04F5F;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 10px;
    user-select: none;
  }

  svg:hover {
    fill: #dfd6d6;
  }
}
