@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html,
body,
#root,
#root > div {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

main {
	padding-top: 60px;
	flex: 1 0 auto;
}

footer {
	height: 60px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-top: 1px solid #cccccc;
	background: #000;
}

/** Pizza items animation **/
.pizza-appear {
	opacity: 0;
	transform: scale(0.5);
}
.pizza-appear-done {
	opacity: 1;
	transform: scale(1);
	transition: all 700ms ease-in;
}

/** Basket right Panel animation **/
.basket-enter {
	top: 60px !important;
	opacity: 0 !important;
}

.basket-enter-active {
	opacity: 1 !important;
	top: 60px !important;
	transition: all 300ms ease-in;
}

.basket-enter-done {
	top: 60px !important;
	opacity: 1 !important;
}

.basket-exit {
	top: 60px !important;
	opacity: 1 !important;
}

.basket-exit-active {
	top: 60px !important;
	opacity: 0 !important;
	transition: all 300ms ease-in;
}

.basket-exit-done {
	top: 100% !important;
}
